@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
} 
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f6f6f6;
}
header{
	z-index: 10;
}
header .title {
	background: #49c;
	border-bottom: 1px solid #48b;
	padding: 10px;
	color: #fff;
	font-size: 18px;
}
header .toolbar {
	background: #efefef;
	border-bottom: 1px solid #ddd;
}
header .toolbar ul {
	display: block;
}
header .toolbar ul li {
	display: inline-block;
	padding: 10px;
}
#workspace{
	overflow: hidden;
}
canvas{
	position: relative;
	top:20px;
	left: 20px;
	background: #fff;
	border:1px solid #ddd;
	box-shadow: 0 0 1px rgba(0,0,0,0.1);
	transition:transform .2s ease-in-out;
	z-index: 9;
}